<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.JoinDAO">
	<insert id="join">
		insert into user(id,password,user_name,age,gender,email) 
		values (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6});
	</insert>
	
	<select id="overlay" resultType="String">
		SELECT id FROM user WHERE id = #{param1}
	</select>
</mapper>