<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.LoginDAO">
	<select id="login" resultType="String">
		select id from user where id = #{param1} and password = #{param2}
	</select>
</mapper>