<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="kr.co.gudi.dao.NoticeDAO">

<select id="notice_list" resultType="hashmap"> 
		SELECT board_idx,board_subject,id,reg_date,hit
			FROM board ORDER BY board_idx DESC limit 10 offset #{param1}
	</select>

	<select id="totalCount" resultType="int">
		SELECT COUNT(board_idx) FROM board
	</select>


	
<!-- 	<select id="list" resultType="kr.co.gudi.dto.NoticeDTO"> 
		SELECT board_subject,id,reg_date,hit FROM board;
	</select>
	
	<insert id="write" 
		useGeneratedKeys="true"
		keyColumn="board_idx"
		keyProperty="board_idx"
		parameterType="kr.co.gudi.dto.NoticeDTO">
	  	INSERT INTO board(id, board_subject, board_content)
	  		VALUES(#{id},#{board_subject},#{board_content})
	</insert>
	
	<insert id="fileWrite">
		INSERT INTO photo(board_idx,orifileName,newFileName) 
			VALUES (#{param1},#{param2},#{param3});
	</insert> -->
	
	
</mapper>


