<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.ReviewDAO">

	<select id="list" resultType="hashmap">
		select 
			board_idx, board_subject, id, reg_date, hit 
		from board where cls_code=2 
		ORDER BY board_idx DESC 
		limit 10 offset #{param1}
	</select>
	
	<insert id="reviewWrite">
		insert into board(cls_code, id, board_subject, board_content)
		values (2,#{param1},#{param2},#{param3})
	</insert>
	
	<select id="reviewdetail" resultType="kr.co.gudi.dto.ReviewDTO"
		parameterType="String">
		SELECT*FROM board WHERE board_idx = #{board_idx}
	</select>
	
	<update id="reviewUpdate" parameterType="hashmap">
		UPDATE board SET
			board_subject = #{board_subject}
			,id =#{id}
			,board_content = #{board_content}
		WHERE board_idx = #{board_idx}
	</update>
	<delete id="reviewDelete" parameterType="String">
		DELETE FROM board WHERE board_idx = #{board_idx} 
	</delete>
	<select id="totalCount" resultType="int">
		SELECT COUNT(board_idx) FROM board where cls_code=2
	</select>
	<update id="hit" parameterType="String">
		UPDATE board SET hit = hit+1
		WHERE board_idx = #{board_idx}
	</update>
</mapper>