<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.ReviewDAO">
	<select id="list" resultType="kr.co.gudi.dto.ReviewDTO">
		select board_subject, id, reg_date, hit from board where cls_code=2
	</select>
	<insert id="reviewWrite">
		insert into board(cls_code, id, board_subject, board_content)
		values (2,#{param1},#{param2},#{param3})
	</insert>
	<select id="reviewdetail" resultType="kr.co.gudi.dto.ReviewDTO"
		parameterType="String">
		SELECT*FROM board WHERE idx = #{idx}
	</select>
</mapper>