<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.RouteDAO">

	<select id="routelist" resultType="hashmap">
		select 
			board_idx, board_subject, id, reg_date, hit 
		from board where cls_code=3 
		ORDER BY board_idx DESC 
		limit 10 offset #{param1}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(board_idx) FROM board where cls_code=3
	</select>
</mapper>