<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.RouteDAO">

	<select id="getDoro" resultType="String">
	        SELECT road_address FROM location
				WHERE loc_name = #{param1}
	</select>
	
	<select id="routeWrite">
		    INSERT INTO board(cls_code, id, board_subject, board_content) 
				VALUES(3,#{param1},#{param2},#{param3})  
	</select>
            

</mapper>