<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 xml을 어떤 interface를 통해서 연결할 것인가? -->
<mapper namespace="kr.co.gudi.dao.SearchDAO">
	<select id="searchList" resultType="kr.co.gudi.dto.BoardDTO">
		select * from board where board_subject like CONCAT('%',#{param1},'%') or board_content like CONCAT('%',#{param1},'%')
	</select>
</mapper>